@define-color foregound #0088FF;
@define-color background rgba(25, 25, 25, 0.4);
@define-color accent #0487F9;
@define-color border rgba(255, 255, 255, 0.2);

* {
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: system-ui, Nerd Font, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bold; */
     font-size: 14px;
	text-shadow: 0 0 3px black;
	font-weight: 600;
}

window#waybar {
    color: @foreground;
    background-color: @background;
    border-bottom: 1px solid @border;
    border-radius: 4px;
}

window#waybar.solo {
    /* background-color: rgba(0,0,0,0.1); */
}

window#waybar.empty {
    /* background-color: transparent; */
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
    padding: 4px;
}

#workspaces {
    color: transparent;
    margin-right: 1.5px;
    margin-left: 1.5px;

}

#workspaces button {
    all: initial;
    min-width: 12px;
    padding: 3px;
    margin: 0 6px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-top: 1px solid transparent;
}

#workspaces button.visible {
	color: @accent;
	border-top: 1px solid white;
}

#workspaces button.empty {
	opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#language,
#custom-update {
	min-width: 12px;
	margin: 0 7.5px;
}

#clock {
	font-weight: bold;
}

#tray {
	margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip, #tray menu {
	color: @foreground;
	background-color: @background;
	border-radius: 4px;
	border: 2px solid @accent;
}

/* Target the avatar image specifically */
#user image {
    border-radius: 50%;  /* Makes it fully circular (adjust % for less rounding, e.g., 12px for fixed) */
    min-width: 32px;     /* Optional: Set a consistent size */

}

#audio {
    background: alpha(darker(@active), 0.3);
}

#pulseaudio.mic {
  border-radius: 4px;
  color: white;
  padding-left: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background-color: transparent;
  background-image: none;

}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 50px;
  min-height: 4px;
  border-radius: 4px;
  background-color: @background;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 2px;
  background-color: @accent;
}

#language {

}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

